@import './base.css';

:root {
  --text-color: #060a08;
  --primary-color: #52be93;
  --secondary-color: #9de1c6;
  --accent-color: #9de1c6;
  --danger-color: #f87171;
  --shadow-primary: 0.3px 0.5px 0.7px var(--secondary-color),
    0.4px 0.8px 1px -1.2px var(--secondary-color), 1px 2px 2.5px -2.5px var(--secondary-color);
  --shadow-danger: 0.3px 0.5px 0.7px var(--danger-color),
    0.4px 0.8px 1px -1.2px var(--danger-color), 1px 2px 2.5px -2.5px var(--danger-color);
}

#app {
  display: flex;
  justify-content: center;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}
